.blog-banner {
  width: 100%;
  max-height: 300px;
}
.blog-banner .overlay {
  width: 100%;
  height: 100%;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.blog-banner img {
  object-fit: cover;
  color: transparent;
  max-height: 300px;
}

.overlay h1 {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  
}

.blog-card img {
  transition: transform 0.3s ease-out;
  overflow: hidden;
}

.blog-card img:hover {
  transform: scale(1.2);
  overflow: hidden;
}
